<article class="flex gap-x-6 w-full borderProfilContainer">
  <app-avatar url="{{ url }}" />
  <article class="flex flex-col justify-evenly">
    <section>
      @if(hasClickedModifyBtn) {
      <app-h2-title [titleLabel]="username" />
      <article class="flex">
        <input
          [(ngModel)]="username"
          placeholder="newname"
          class="py-2"
          name="username"
        />
        <app-button [icon]="iconOk" />
      </article>
      } @else {
      <app-h2-title titleLabel="{{ name }}" />
      <app-button [icon]="iconPen" (click)="onClickModify(name)" />
      }
    </section>

    <app-subcaption text="{{ text }}" />
  </article>
</article>
