<div
  *ngFor="let particle of particles"
  class="particle -z-10"
  [ngStyle]="{
    left: particle.left,
    top: particle.top,
    animationDuration: particle.animationDuration,
    animationDelay: particle.animationDelay,
    transformOrigin: particle.transformOrigin
  }"
></div>
<section class="text-center mx-auto z-30 lg:col-start-6 my-60">
  <app-h1-title titleLabel="Moodies" />
  <p class="text-xl my-8 text-soft-green">
    Votre espace personnel pour capturer vos pensées quotidiennes et nourrir
    votre introspection.
  </p>

  <app-radialButton label="Commencez à écrire" route="profil" />
  <article class="mt-16 text-sm text-dark-green z-10">
    <p>Prenez un moment chaque jour pour vous connecter avec vous-même.</p>
  </article>
</section>
