@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "KarlaRegular";
  src: url("./assets/fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: "KarlaBold";
  src: url("./assets/fonts/Karla-Bold.ttf");
}

html {
  height: 100%;
}

body {
  font-family: "KarlaRegular";
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

header {
  flex: 0 0 auto;
}

h1 {
  font-family: "KarlaBold";
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.borderProfilContainer {
  @apply border border-darker-pink rounded-md p-4 hover:border-gold;
}

.form {
  @apply flex flex-col gap-y-5;
}

.input {
  @apply border border-gold/25 h-10 rounded-xl;
}

.success {
  @apply border-success-200 bg-success-200 text-success-900 w-full rounded-md;
}

.error {
  @apply border-error-200 bg-error-200 text-error-900 w-full rounded-md py-2;
}
